<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
    <meta charset="utf-8"/>
    <title>Padel Privee - {% block title %}{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/PadelBundle/css/style.css')}}"/>
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:400,700,300"/>
    {% endblock %}
    <meta content="telephone=yes" name="format-detection"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
  </head>
  <body>
    <div class="top clearfix">
          <div class="container">
              <h1 class="left">Gestion BackEnd aplicacion movil Padel Privee</h1>
              <nav class="idioma">
                  <a href="" title="Usuario registrado"><?php echo $userName; ?></a>
                  <a href="" title="Cerrar la sesion">Desconectar</a>
              </nav>
          </div>
      </div>
      <header class="header clearfix">
          <div class="container">
              <div class="col50">
                  <a href="index.php" title="Página inicial de Optimus">
                  <img class="logotipo" src={{ asset('bundles/PadelBundle/images/logoMitja.png' ) }} alt="Página inicial de Optimus" title="Página inicial de Optimus"/>
                  </a>
              </div>
              <div class="social col50">
                  <script>var params_site="http://www.optimuspadel.com/";var params_language="es";</script>
                  <div id="section-sharing">
                      <a href="" class="twshare center transicion" rel="external nofollow" title="Síguenos en twitter">
                          <span class="wf-icon">k</span> twitter
                      </a>
                      <a href="" class="fbshare center transicion" rel="external nofollow" title="Síguenos en facebook">
                          <span class="wf-icon">f</span> facebook
                      </a>
                  </div>
              </div>
          </div>
      </header>
{% block navigation %}
    <section class="clearfix">
        <div class="container">
          <div id="menu_rwd" class="col25">
            <nav class="nav">
            <ul>
              {% for i in 0..8 %}
                <li><a class="{{ classes[i] }}" href="{{ path(hrefs[i]) }}" >
                  <span class="center">{{ texts[i] }}</span></a></li>
              {% endfor %}
            </ul>
            </nav>
          </div>
          <div class="col75">
              <nav class="nav">
                  <ul>
                      <li><a href="{{ path(hrefs[9]) }}" class="{{ classes[9] }}" title="{{ texts[9] }}" >
                        <span class="center">{{ texts[9] }}</span></a></li> 
                  </ul>
              </nav>
{% endblock %}
{% block form %}
{% endblock %}
    <footer class="footer bg_gray">
        <div class="creditos clearfix">
            <p>
                <span class="where">Optimus padel 2014</span>
                <span class="who"><em>-</em>Ofertas en articulos para padel.</span>
            </p>
        </div>
                  
        <div class="designer">
            <a href="http://www.selumobileapps.com" target="_blank" class="albi" rel="external nofollow" title="Aplicaciones moviles, Diseño web, e-commerce y diseño, implementacion y administracion de redes.">seLu Mobile Apps</a>
            <a href="http://validator.w3.org/unicorn/check?ucn_uri=www.selumobileapps.com%2Fpadelprivee%2Farticle.php&amp;ucn_task=conformance" target="_blank" class="w3c" rel="external nofollow" title="HTML5 Powered with CSS3/Styling, and Semantics">W3C Validation</a>
        </div>
    </footer>    
  </body>
</html>              